@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    padding: 0 100px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo h1 {
    padding: 30px 0;
    text-align: center;
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

/* JOGO */

.jogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carta {
    height: 150px;
    width: 120px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    margin: 15px;
    transition: transform 1s linear;
    position: relative;
}

.face-estatica, .face-gif {
    position: absolute;
    top: 15px;
    left: 15px;
}

.face-estatica img, .face-gif img {
    width: 90px;
    height: 120px;
    object-fit: contain;
    transition-delay: 500ms;
}

.face-estatica img {
    opacity: 1;
}

.face-gif img {
    opacity: 0;
}

/* ANIMAÇÕES */

.carta.virada {
    transform: rotateY(180deg);
}

.face-estatica.virada img {
    opacity: 0;
}

.face-gif.virada img {
    opacity: 1;
}