@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    padding: 0 100px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo h1 {
    padding: 30px 0;
    text-align: center;
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

/* JOGO */

.jogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carta {
    /* height: 146px; */
    width: 117px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    margin: 15px;
}

.face-estatica, .face-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 0;
}

.face-estatica img, .face-gif img {
    width: 100px;
}